.App {
  text-align: center;
  display:inline-table;
  flex-direction: column;
  flex-flow:wrap;
 justify-content: space-between;
 align-items: flex-start;
}

img{
  max-height: 200px;
}
.people{
  background-color: blueviolet;
  text-align: left;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
width: 200px;
border-radius: 10%;
border: solid 2px black;
}
.container{
background-color: blue;
text-align: left;
width: 200px;
border-radius: 10%;
border: solid 2px lime;
}